body {
    font-family: Roboto, Arial;
    margin: 0px;
}

p {
    margin: 0px;
}

.header-section {
    display: flex;
    flex-direction: row;
    height: 60px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(180, 180, 180);
}

.left-section {
    display: flex;
    flex-direction: row;
    width: 160px;
    align-items: center;
    justify-content: space-between;
    margin-right: 55px;
}

.hamburger-icon {
    margin-left: 24px;
    width: 24px;
}

.youtube-icon {
    width: 89px;
}

.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 470px;
}

input[type=searchbox] {
    flex: 1;
    height: 35px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    width: 0;   
}

input[placeholder] {
    padding-left: 12px;
}

.search-icon {
    background-color: rgb(245, 245, 245);
    width: 25px;
    height: 37px;
    padding: 0px 18px 0px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 2px;
    margin-left: -1px;
}

.voice-search-icon {
    margin-left: 10px;
    width: 25px;
    background-color: rgba(238, 238, 238, 0.562);
    border-radius: 100px;
    padding: 0px 8px 0px;
}

.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin-left: 29px;
    margin-right: 25px;
}

.upload-icon, .youtube-apps-icon, .notification-icon {
    width: 25px;
}

.my-channel-image {
    width: 33px;
}

.overall-preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    padding-top: 25px;
    background-color: rgba(238, 238, 238, 0.459);
}

@media (max-width: 750px) {
    .overall-preview-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .overall-preview-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .overall-preview-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-thumbnail {
    width: 100%;
    margin-bottom: 10px;
}

.video-layout {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-image {
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.video-title {
    font-weight: 500;
    margin-bottom: 15px;
}

.author-name, .video-stats {
    font-size: 12px;
    color: rgb(96 96 96);
}

.author-name {
    margin-bottom: 5px;
}